<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ben Callis UI/UX</title>


    <!--[if lt IE 9]>
    <script src="../../content/main/BC/assets/js/html5.js"></script>
    <![endif]-->

    <title>Ben Callis UI/UX</title>
    <link rel='stylesheet' id='contact-form-7-css'
          href='../../content/plugins/contact-form-7/includes/css/styles-ver=4.1.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='mpc-sh-styles-css' href='../../content/plugins/mpc-shortcodes/css/mpc-sh-ver=4.1.5.css'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='mpc-heading-font-css'
          href='http://fonts.googleapis.com/css?family=Raleway%3A400%2C500%2C600%2C800&ver=4.1.5' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='mpc-content-font-css'
          href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic&ver=4.1.5' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='mpc-menu-font-css'
          href='http://fonts.googleapis.com/css?family=Open+Sans%3A600&ver=4.1.5' type='text/css' media='all'/>
    <link rel='stylesheet' id='mpc-styles-css' href='../../content/main/BC/style-ver=4.1.5.css' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='font-awesome-css'
          href='../../content/main/BC/assets/fonts/font-awesome.min-ver=4.1.5.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='mpc-plugins-css-css' href='../../content/main/BC/assets/css/plugins.min-ver=4.1.5.css'
          type='text/css' media='all'/>
    <script type='text/javascript' src='../../includes/js/jquery/jquery-ver=1.11.1.js'></script>
    <script type='text/javascript' src='../../includes/js/jquery/jquery-migrate.min-ver=1.2.1.js'></script>
</head>
<body class="single single-mpc_portfolio postid-126 single-format-standard mpcth-sidebar-right mpcth-responsive">
<span id="mpcth_overlay"></span>

<div id="mpcth_seach_form_holder">
    <form method="get" id="searchform" class="mpcth-search-form" action="http://bcallis.com/">

        <div>
            <input type="text" class="field mpcth-search" name="s" id="s" value="SEARCH..."
                   onfocus="if(this.value=='SEARCH...')this.value='';"
                   onblur="if(this.value=='')this.value='SEARCH...';">

        </div>

        <!-- input type="submit" class="submit" name="submit" id="searchsubmit" value="< ?php esc_attr_e( 'Search', 'mpcth' ); ?>"/ -->
    </form>
</div>
<!-- mpcth-seach-form-holder -->
<span class="mpcth-bar"></span>
<header id="header_main">
    <div class="mpcth-social-icons-wrapper">
        <div class="mpcth-logo mpcth-left">
            <span class="mpcth-logo-triangle"></span>

            <h2>
                <a href="../../index.html" title="logo">BC</a>
            </h2>
        </div>
        <!-- .mpcth-logo -->

        <div class="mpcth-social-icons  mpcth-left">
            <ul class="mpcth-socials">
                <li>
                    <a href="" class="mpcth-social-facebook">
                        <span class="mpcth-flip-icon">
                            <i class="fa fa-fw fa-facebook"></i>
                            <i class="fa fa-fw fa-facebook mpcth-icon-hover"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="" class="mpcth-social-instagram">
												<span class="mpcth-flip-icon">
													<i class="fa fa-fw fa-instagram"></i>
													<i class="fa fa-fw fa-instagram mpcth-icon-hover"></i>
												</span>
                    </a>
                </li>
                <li>
                    <a href="" class="mpcth-social-linkedin">
												<span class="mpcth-flip-icon">
													<i class="fa fa-fw fa-linkedin"></i>
													<i class="fa fa-fw fa-linkedin mpcth-icon-hover"></i>
												</span>
                    </a>
                </li>
                <li>
                    <a href="" class="mpcth-social-twitter">
												<span class="mpcth-flip-icon">
													<i class="fa fa-fw fa-twitter"></i>
													<i class="fa fa-fw fa-twitter mpcth-icon-hover"></i>
												</span>
                    </a>
                </li>
            </ul>
            <!-- mpcth-socials -->
        </div>
        <!-- mpcth-social-icons -->
    </div>
    <!--  mpcth-social-icons-wrapper -->

    <div class="mpcth-icons mpcth-right">
        <ul>
            <!--<li class="mpcth-search-icon">
                <a href="page/2/index.html#" id="mpcth_search_toggle">
                                                <span class="mpcth-flip-icon">
                                                    <i class="fa fa-fw fa-search "></i>
                                                    <i class="fa fa-fw fa-search mpcth-icon-hover"></i>
                                                </span>
                </a>
            </li>-->
            <li class="mpcth-sidebar-icon">
                <a href="page/2/index.html#" id="mpcth_sidebar_toggle">
                                                <span class="mpcth-flip-icon">
                                                    <i class="fa fa-fw fa-bars"></i>
                                                    <i class="fa fa-fw fa-bars mpcth-icon-hover"></i>
                                                </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- .mpcth-icons -->

    <nav id="mpcth_main_menu" class="mpcth-nav mpcth-right" role="navigation">
        <ul id="menu-main-menu" class="mpcth-menu">
            <li id="menu-item-214"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-214"><a
                    href="../../index.html">Home<span class="mpcth-border-tl"></span><span
                    class="mpcth-border-br"></span></a>
                <ul class="sub-menu">
                    <li id="menu-item-544"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544"><a
                            href="../../index.html">Home Slider<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-522"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a
                            href="../../index.html">Home Alternative<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-521"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-521"><a
                            href="../../home-3/index.html">Home Hipster<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                </ul>
            </li>
            <li id="menu-item-186"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-186"><a
                    href="../blog.html">Blog<span class="mpcth-border-tl"></span><span
                    class="mpcth-border-br"></span></a>
                <ul class="sub-menu">
                    <li id="menu-item-213"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a
                            href="../blog.html">Classic Standard<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-226"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a
                            href="../../classic-load-more/index.html">Classic Load More<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-225"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a
                            href="../../classic-infinite-scroll/index.html">Classic Infinite Scroll<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-227"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"><a
                            href="../../masonry-standard/index.html">Masonry Standard<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-215"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a
                            href="../../blog-alternative/index.html">Masonry Load More<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-228"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a
                            href="../../masonry-infinite-scroll/index.html">Masonry Infinite Scroll<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-187"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-187">
                        <a href="UIUXportfolio.html#">Post Types<span class="mpcth-border-tl"></span><span
                                class="mpcth-border-br"></span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-209"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209"><a
                                    href="../../blog/gallery-post/index.html">Gallery<span
                                    class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-207"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a
                                    href="../../blog/sky-is-the-limit/index.html">Video<span
                                    class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-210"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210"><a
                                    href="../../blog/gandhi-quote/index.html">Quote<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-211"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-211"><a
                                    href="../../blog/chat/index.html">Chat<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-208"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-208"><a
                                    href="../../blog/aside/index.html">Aside<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-212"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212"><a
                                    href="../../blog/status-post/index.html">Status<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-382"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-382"><a
                    href="UIUXportfolio.html#">Pages<span class="mpcth-border-tl"></span><span
                    class="mpcth-border-br"></span></a>
                <ul class="sub-menu">
                    <li id="menu-item-384"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384"><a
                            href="../../about-me/index.html">About Me<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-383"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383"><a
                            href="../../ideas/index.html">Ideas<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-218"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a
                            href="../../shortcodes-2/index.html">Shortcodes<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-393"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a
                            href="../../typography/index.html">Typography<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-520"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a
                            href="../../contact-me/index.html">Contact Me<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                </ul>
            </li>
            <li id="menu-item-193"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193"><a
                    href="UIUXportfolio.html#">Portfolio<span class="mpcth-border-tl"></span><span
                    class="mpcth-border-br"></span></a>
                <ul class="sub-menu">
                    <li id="menu-item-222"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222"><a
                            href="../../boxed-load-more/index.html">Boxed Load More<span class="mpcth-border-tl"></span><span
                            class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-221"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221"><a
                            href="../../boxed-infinity/index.html">Boxed Infinity<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-219"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219"><a
                            href="../../../bcallisWP/views/portfolio.html">Boxed Standard<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-194"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-194">
                        <a href="UIUXportfolio.html#">Boxed Post Types<span class="mpcth-border-tl"></span><span
                                class="mpcth-border-br"></span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-195"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a
                                    href="WorkspacePortfolio.html">Standard<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-196"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196"><a
                                    href="StudioPortfolio.html">Gallery<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-197"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-197"><a
                                    href="big-city-life/index.html">Video<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-198"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198"><a
                                    href="sounds-of-the-forest/index.html">Audio<span
                                    class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                        </ul>
                    </li>
                    <li id="menu-item-223"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a
                            href="../../full-width-infinity/index.html">Full Width Infinity<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-224"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a
                            href="../../full-width-load-more/index.html">Full Width Load More<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-220"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220"><a
                            href="../../full-width/index.html">Full Width Standard<span
                            class="mpcth-border-tl"></span><span class="mpcth-border-br"></span></a></li>
                    <li id="menu-item-199"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-199">
                        <a href="UIUXportfolio.html#">Full Width Post Types<span class="mpcth-border-tl"></span><span
                                class="mpcth-border-br"></span></a>
                        <ul class="sub-menu">
                            <li id="menu-item-200"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-200"><a
                                    href="green-forest/index.html">Standard<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-201"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201"><a
                                    href="SketchPortfolio.html">Gallery<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-202"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a
                                    href="video-post-2/index.html">Video<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                            <li id="menu-item-203"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-203"><a
                                    href="audio-post-2/index.html">Audio<span class="mpcth-border-tl"></span><span
                                    class="mpcth-border-br"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- end .mpcth-nav -->

    <span class="mpcth-clear"></span>

    <nav id="mpcth_nav_mobile" class="mpcth-nav-mobile" role="navigation">
        <div class="mpcth-nav-wrapper">
            <div class="mpcth-nav-mobile-holder">
                <ul id="mpcth_menu_mobile" class="mpcth-menu-mobile">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-214">
                        <a href="../../index.html">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-544"><a
                                    href="../../index.html">Home Slider</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a
                                    href="../../index.html">Home Alternative</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-521"><a
                                    href="../../home-3/index.html">Home Hipster</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-186">
                        <a href="../blog.html">Blog</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a
                                    href="../blog.html">Classic Standard</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a
                                    href="../../classic-load-more/index.html">Classic Load More</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a
                                    href="../../classic-infinite-scroll/index.html">Classic Infinite Scroll</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"><a
                                    href="../../masonry-standard/index.html">Masonry Standard</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a
                                    href="../../blog-alternative/index.html">Masonry Load More</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a
                                    href="../../masonry-infinite-scroll/index.html">Masonry Infinite Scroll</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-187">
                                <a href="UIUXportfolio.html#">Post Types</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209"><a
                                            href="../../blog/gallery-post/index.html">Gallery</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a
                                            href="../../blog/sky-is-the-limit/index.html">Video</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210"><a
                                            href="../../blog/gandhi-quote/index.html">Quote</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-211"><a
                                            href="../../blog/chat/index.html">Chat</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-208"><a
                                            href="../../blog/aside/index.html">Aside</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212"><a
                                            href="../../blog/status-post/index.html">Status</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-382">
                        <a href="UIUXportfolio.html#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-384"><a
                                    href="../../about-me/index.html">About Me</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-383"><a
                                    href="../../ideas/index.html">Ideas</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a
                                    href="../../shortcodes-2/index.html">Shortcodes</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-393"><a
                                    href="../../typography/index.html">Typography</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a
                                    href="../../contact-me/index.html">Contact Me</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-193">
                        <a href="UIUXportfolio.html#">Portfolio</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-222"><a
                                    href="../../boxed-load-more/index.html">Boxed Load More</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221"><a
                                    href="../../boxed-infinity/index.html">Boxed Infinity</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219"><a
                                    href="../../../bcallisWP/views/portfolio.html">Boxed Standard</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-194">
                                <a href="UIUXportfolio.html#">Boxed Post Types</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-195"><a
                                            href="WorkspacePortfolio.html">Standard</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196"><a
                                            href="StudioPortfolio.html">Gallery</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-197"><a
                                            href="big-city-life/index.html">Video</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-198"><a
                                            href="sounds-of-the-forest/index.html">Audio</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a
                                    href="../../full-width-infinity/index.html">Full Width Infinity</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a
                                    href="../../full-width-load-more/index.html">Full Width Load More</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220"><a
                                    href="../../full-width/index.html">Full Width Standard</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-199">
                                <a href="UIUXportfolio.html#">Full Width Post Types</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-200"><a
                                            href="green-forest/index.html">Standard</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201"><a
                                            href="SketchPortfolio.html">Gallery</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-202"><a
                                            href="video-post-2/index.html">Video</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-203"><a
                                            href="audio-post-2/index.html">Audio</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form method="get" id="mobile_searchform" class="mpcth-search-form" action="http://yak.mpcreation.net/">
                    <input type="text" class="field mpcth-search" name="s" id="ms" value="SEARCH..."
                           onfocus="if(this.value=='SEARCH...')this.value='';"
                           onblur="if(this.value=='')this.value='SEARCH...';"/>
                    <i class="fa fa-search"></i>
                    <input type="submit" class="submit" name="submit" id="mobile_searchsubmit" value="Search"/>
                </form>
            </div>
        </div>
    </nav>
    <!-- end .mpcth-nav-mobile -->
    <div class="mpcth-menu-mobile-toggle">
        <a id="mpcth_menu_mobile_toggle" href="UIUXportfolio.html#"><span class="mpcth-flip"><i
                class="fa fa-fw fa-chevron-down"></i><i class="fa fa-fw fa-times mpcth-hover"></i></span></a>
    </div>
</header>
<!-- #header_main -->


<div id="mpcth_wrapper" class="mpcth-blog mpcth-single-post"
     style="background:; background-image: url('../../content/uploads/2014/12/stardust.png');">

    <div id="mpcth_main_content">

        <script>
            jQuery(document).ready(function ($) {
                $('body').addClass('mpcth-portfolio-single');
            });
        </script>


        <div class="mpcth-article-wrapper">

            <article id="post-126"
                     class="post-126 mpc_portfolio type-mpc_portfolio status-publish format-standard has-post-thumbnail hentry tag-folio1 mpcth-post">
                <section class="mpcth-post-content">
                    <div class="mpcth-portfolio-content">
                        <div class="mpcth-portfolio-main-content">
                            <span class="mpcth-portfolio-triangle mpcth-portfolio-triangle-top"></span>
                            <span class="mpcth-portfolio-triangle mpcth-portfolio-triangle-bottom"></span>
                            <header class="mpcth-portfolio-header">
                                <h1 class="mpcth-portfolio-title">Hipster Photo Shoot</h1>
                            </header>
                            <!-- .mpcth-portfolio-header -->
                            <div class="mpcth-portfolio-cat-item">
                                <ul>
                                    <li class="mpcth-portfolio-filter"><a href="../portfolio_category/UI-UX/index.html">Clothes</a><span
                                            class="mpcth-cat-separator"> / </span></li>
                                    <li class="mpcth-portfolio-filter"><a href="../portfolio_category/style/index.html">Style</a><span
                                            class="mpcth-cat-separator"> / </span></li>
                                </ul>
                            </div>
                            <!-- mpcth-portfolio-cat-item -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo at mauris
                                faucibus suscipit. </p>
                        </div>
                        <!-- .mpcth-portfolio-main-content -->
                    </div>
                    <!-- .mpcth-portfolio-content -->

                    <div class="mpcth-post-thumbnail"><img src="../../content/uploads/2014/12/folio13_1.jpg" alt=""/>
                    </div>
                    <span class="mpcth-clear"></span>
                </section>
                <!-- .mpcth-post-content -->

                <div class="mpcth-extra-images">
                    <div class="mpcth-extra-image-wrapper">
                        <img src="../../content/uploads/2014/12/folio13_2.jpg" alt="" height="916" width="1400"/>
                    </div>
                    <div class="mpcth-extra-image-wrapper">
                        <img src="../../content/uploads/2014/12/folio13_3.jpg" alt="" height="1120" width="1400"/>
                    </div>
                </div>
                <span class="mpcth-article-top"></span>
                <span class="mpcth-article-bottom"></span>
                <span class="mpcth-clear"></span>
            </article>
        </div>
        <!-- .mpcth-article-wrapper -->
    </div>
    <!-- #mpcth_main_content -->


    <section id="mpcth_sidebar">
        <ul class="mpcth-sidebar-widgets">
            <li id="recent-posts-2" class="widget widget_recent_entries"><h5 class="widget-title sidebar-widget-title">
                Recent Posts</h5>
                <ul>
                    <li>
                        <a href="../../blog/UI-UX/wireframes1.html">Read &amp; learn</a>
                    </li>
                    <li>
                        <a href="../../blog/on-the-road-very-long-title/index.html">On the lonesome road very long
                            title</a>
                    </li>
                    <li>
                        <a href="../../blog/sky-is-the-limit/index.html">Sky is the limit</a>
                    </li>
                    <li>
                        <a href="../../blog/aside/index.html">Aside</a>
                    </li>
                    <li>
                        <a href="../../blog/gallery-post/index.html">Gallery Post</a>
                    </li>
                </ul>
            </li>
            <li id="archives-2" class="widget widget_archive"><h5 class="widget-title sidebar-widget-title">
                Archives</h5>
                <ul>
                    <li><a href='../../blog/2014/12/index.html'>December 2014</a></li>
                </ul>
            </li>
            <li id="categories-2" class="widget widget_categories"><h5 class="widget-title sidebar-widget-title">
                Categories</h5>
                <ul>
                    <li class="cat-item cat-item-2"><a href="../../blog/category/media/index.html">Media</a>
                    </li>
                    <li class="cat-item cat-item-3"><a href="../../blog/category/norway/index.html">Norway</a>
                    </li>
                    <li class="cat-item cat-item-4"><a href="../../blog/category/photography/index.html">Photography</a>
                    </li>
                    <li class="cat-item cat-item-1"><a
                            href="../../blog/category/uncategorized/index.html">Uncategorized</a>
                    </li>
                </ul>
            </li>
            <li id="bra_photostream_widget-1" class="widget bra-photostream-widget"><h5
                    class="widget-title sidebar-widget-title">Your Photostream</h5>

                <div class="photostream" id="twistedforkdribbble9"></div>
                <script type="text/javascript"> jQuery(document).ready(function ($) {
                    $("#twistedforkdribbble9").bra_photostream({
                        user: "twistedfork",
                        limit: 9,
                        social_network: "dribbble"
                    });
                });</script>
                <style type="text/css"><!--
                .photostream li a:hover {
                    background-color: #000000 !important;
                    border: 1px solid #000000 !important;
                }

                --></style>
            </li>
            <li id="twitter_widget-1" class="widget mpc-w-twitter-widget"><h5 class="widget-title sidebar-widget-title">
                Latest Tweets</h5>
                <ul id="mpc_w_twitter_Kz0kR" class="mpc-w-twitter-wrap"
                    data-number="2"
                    data-id="535429160983068672"
                    data-unique="Kz0kR">
                </ul>
            </li>
            <li id="meta-2" class="widget widget_meta"><h5 class="widget-title sidebar-widget-title">Meta</h5>
                <ul>
                    <li><a href="../../wp-login.php.html">Log in</a></li>
                    <li><a href="../../feed/index.rss">Entries <abbr title="Really Simple Syndication">RSS</abbr></a>
                    </li>
                    <li><a href="../../comments/feed/index.rss">Comments <abbr
                            title="Really Simple Syndication">RSS</abbr></a></li>
                    <li><a href="https://wordpress.org/"
                           title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- #mpc-sidebar -->
    <section id="footer">
        <div class="mpcth-post-pagination">
            <div class="mpcth-pagination">
						<span class="mpcth-pag-left">
							<a class="mpcth-prev-post" href="sounds-of-the-forest/index.html" rel="prev"><i
                                    class="fa fa-angle-left"></i><span>Sounds Of the Forest</span></a>													</span>

						<span class="mpcth-pag-right">
							<a class="mpcth-next-post" href="big-city-life/index.html"
                               rel="next"><span>Big City Life</span><i class="fa fa-angle-right"></i></a>													</span>

                <div style="display: none;"></div>
                <span class="mpcth-clear"></span>
            </div>
            <!-- mpcth-pagination -->
        </div>
        <!-- mpcth-post-pagination -->

        <span class="mpcth-triangle mpcth-footer-right-side"></span>
        <span class="mpcth-triangle mpcth-footer-left-side"></span>

        <span class="mpcth-triangle mpcth-footer-top"></span>
        <footer id="mpcth_footer" class="mpcth-footer" style="">
            <ul class="mpcth-info-widget">
                <li id="theme_info_widget-1" class="widget mpc-w-theme-info-widget">
                    <div class="mpcth-widget-place"><p><img
                            src="http://yak.mpcthemes.net/wp-content/uploads/sites/7/2014/12/footer_logo.png" alt=""/>
                    </p>

                        <p>Praesent non vulputate turpis. In est nibh, fermentum eget males uada ut, ultrices ac
                            lacus.</p></div>
                </li>
            </ul>

            <ul class="mpcth-footer-widgets mpcth-footer-columns-4">
                <li id="nav_menu-1" class="widget widget_nav_menu"><h5 class="widget-title footer-widget-title">
                    Navigation</h5>

                    <div class="menu-navigation-container">
                        <ul id="menu-navigation" class="menu">
                            <li id="menu-item-217"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217"><a
                                    href="../../index.html">Home</a></li>
                            <li id="menu-item-216"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a
                                    href="../blog.html">Classic Standard</a></li>
                            <li id="menu-item-191"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-191"><a
                                    href="UIUXportfolio.html#">Work</a></li>
                            <li id="menu-item-192"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-192"><a
                                    href="UIUXportfolio.html#">Get In Touch</a></li>
                        </ul>
                    </div>
                </li>
                <li id="nav_menu-2" class="widget widget_nav_menu"><h5 class="widget-title footer-widget-title">
                    Socials</h5>

                    <div class="menu-socials-container">
                        <ul id="menu-socials" class="menu">
                            <li id="menu-item-188"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a
                                    href="UIUXportfolio.html#">Facebook</a></li>
                            <li id="menu-item-189"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189"><a
                                    href="UIUXportfolio.html#">Twitter</a></li>
                            <li id="menu-item-190"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-190"><a
                                    href="UIUXportfolio.html#">Dribbble</a></li>
                        </ul>
                    </div>
                </li>
                <li id="recent-posts-3" class="widget widget_recent_entries"><h5
                        class="widget-title footer-widget-title">Recent</h5>
                    <ul>
                        <li>
                            <a href="../../blog/UI-UX/wireframes1.html">Read &amp; learn</a>
                        </li>
                        <li>
                            <a href="../../blog/on-the-road-very-long-title/index.html">On the lonesome road very long
                                title</a>
                        </li>
                        <li>
                            <a href="../../blog/sky-is-the-limit/index.html">Sky is the limit</a>
                        </li>
                        <li>
                            <a href="../../blog/aside/index.html">Aside</a>
                        </li>
                    </ul>
                </li>
                <li id="text-1" class="widget widget_text"><h5 class="widget-title footer-widget-title">Contact</h5>

                    <div class="textwidget"><p>legionów 147b<br/>
                        41-250, Czeladz<br/>
                        <a href="UIUXportfolio.html#">view on google maps</a></p>
                    </div>
                </li>
            </ul>
            <!-- end .mpcth-footer-widgets -->

            <span class="mpcth-clear"></span>
        </footer>
        <!-- #mpcth-footer -->
    </section>
    <!-- #footer -->
</div>
<!-- .mpcth-wrapper -->

<style></style>
<link rel='stylesheet' id='bra_photostream-css'
      href='../../content/plugins/brankic-photostream-widget/bra_photostream_widget-ver=4.1.5.css' type='text/css'
      media='all'/>
<script type='text/javascript'
        src='../../content/plugins/contact-form-7/includes/js/jquery.form.min-ver=3.51.0-2014.06.20.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = {
        "loaderUrl": "http:\/\/yak.mpcreation.net\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
        "sending": "Sending ..."
    };
    /* ]]> */
</script>
<script type='text/javascript' src='../../content/plugins/contact-form-7/includes/js/scripts-ver=4.1.js'></script>
<script type='text/javascript' src='../../includes/js/jquery/ui/core.min-ver=1.11.2.js'></script>
<script type='text/javascript' src='../../includes/js/jquery/ui/widget.min-ver=1.11.2.js'></script>
<script type='text/javascript' src='../../includes/js/jquery/ui/tabs.min-ver=1.11.2.js'></script>
<script type='text/javascript' src='../../includes/js/jquery/ui/accordion.min-ver=1.11.2.js'></script>
<script type='text/javascript' src='../../content/plugins/mpc-shortcodes/js/mpc-sh-ver=1.0.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var ajaxurl = "http:\/\/yak.mpcreation.net\/wp-admin\/admin-ajax.php";
    /* ]]> */
</script>
<script type='text/javascript' src='../../content/plugins/mpc-widgets/js/mpc-w-ver=1.0.js'></script>
<script type='text/javascript' src='../../content/main/BC/assets/js/plugins.min-ver=1.0.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mpc_cf = {"field_name": "Name*", "field_email": "Email*", "field_url": "Website", "field_comment": "Message"};
    /* ]]> */
</script>
<script type='text/javascript' src='../../content/main/BC/assets/js/main-ver=1.0.js'></script>
<script type='text/javascript' src='../../content/main/BC/assets/js/jquery.mobile.min-ver=1.0.js'></script>
<script type='text/javascript'
        src='../../content/plugins/brankic-photostream-widget/bra_photostream_widget-ver=1.3.js'></script>
</body>
</html>
